<% if user.profile.present? %>
  <%= image_tag url_for(user.profile.avatar.picture), class: "h-12 w-12 flex-none rounded-full" %>
<% else %>
  <div class="bg-gray-300 h-12 w-12 flex-none rounded-full flex items-center justify-center " >
    <%= icon('fa-solid', 'user', class: "text-xl")%>
  </div>
<% end %>
