<h2 class="font-bold text-3xl">Notifications</h2>
<% current_user.notifications.preload(:sender, :notifiable).each do |notification| %>
  <%= render partial: "notifications/notification", locals: { notification: notification} %>
<% end %>

