  <div id=<%="post_#{post.id}"%> data-controller="comments">
    <%= render partial: "posts/post_format", locals: { post: post }%>
    <%= button_tag "Comment", type: "button", data: {action: "comments#openDialog" }%>
    <%= render partial: "posts/dialog_for_post", locals: {post: post}%>
  </div>
