<% Post.includes(:author, :likes, :comments).order("created_at DESC").relevant_posts(current_user).each do |post| %>
  <div id=<%="post_#{post.id}"%>>
  <%= render partial: "posts/post", locals: { post: post }  %>
  </div>
<% end %>
